<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ISET-Rades-App</h5>
          <p>
            Welcome to MyApp. We provide various services and resources to help you succeed.
          </p>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:info&#64;myapp.com" class="text-dark">isetrades&#64;app.com</a>
            </li>
            <li>
              <a href="tel:+1234567890" class="text-dark">+216 23 567 890</a>
            </li>
            <li>
              <a href="https://www.myapp.com/contact" class="text-dark">Contact Form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
      
      © 2024 ISETRApp. All rights reserved.
    </div>
  </footer>
